<section id="linkContent">
  <article id="linkInformation">
    Page displaying information about a particular link
  </article>
    <p id="suggestEdit">Suggest an edit</p>
    <form id="linkEdit">
      <label>Add Keywords</label><input class="linkInput" name="tags">
      <br/><br/>
      <label>Change Title</label><input class="linkInput" name="title">
      <br/><br/>
      <button id="#linkEditSubmit">Submit</button>
    </form>
</section>