<section ng-controller="HomeController">
  <div id="searchBar">
    <md-text-float label="How can we help?" ng-model="searchTerm" ng-keyup="search(searchTerm)" autofocus></md-text-float>
<!--     <input id="mainSearch" type="text" ng-model="searchTerm" ng-change="search(searchTerm)"> -->
  <md-progress-circular class="loading-button"  md-diameter="25" md-mode="indeterminate"></md-progress-circular>
  </div>
  <md-content id="searchResults">
    <md-list>
      <md-item ng-repeat="link in links" ng-click="showLinkDetails(link.id)">
        <md-item-content>
          <p><a href="{{link.url}}">{{link.title}}</a></p>
          <p>{{link.keyword_list}}</p>     
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</section>