<h2 id="searchHeading">Welcome to Slacker News</h2>
<div id="searchBar">
  <input type="text"><!-- Search should happen on keyup not by button click -->
</div>
<div id="searchResults">
  <ul>
    <% @links.each do |link| %>
      <li class="result">
        <a href="<%= link.url %>"><%= link.title %></a><br>
        <p><%= link.keywords.map(&:name).join(', ') %></p>
        <a class="moreInfo" href="<%= url_for controller: 'link', action: 'index', id: link.id %>">Show More</a>
      </li>
    <% end %>
  </ul>
</div>