<h2 id="searchHeading">Welcome to Slacker News</h2>
<div id="searchBar">
  <input type="text">
  <button>Search</button>
</div>
<div id="searchResults">
  <ul>
    <li class="result"><a href="">Some link text here</a><br><p>some keyword terms here</p><p class="moreInfo">Show More</p></li>
    <li class="result"><a href="">Some link text here</a><br><p>some keyword terms here</p><p class="moreInfo">Show More</p></li>