<div id="searchBar">
  <input id="mainSearch" type="text"><!-- Search should happen on keyup not by button click -->
</div>
<button id="addLink">+</button>
<div id="addLinkForm">
  <form id="linkAdd">
      <label>Title</label><input class="linkInput" name="title">
      <br/><br/>
      <label>URL</label><input class="linkInput" name="url">
      <br/><br/>
      <label>Keywords</label><input class="linkInput" name="keywords">
      <br/><br/>
      <button id="#linkAddSubmit">Submit</button>
    </form>
</div>
<div id="searchResults">
  <ul>
    <% @links.each do |link| %>
      <li class="result">
        <a href="<%= link.url %>"><%= link.title %></a><br>
        <p><%= link.keywords.map(&:name).join(', ') %></p>
        <a class="moreInfo" href="<%= url_for controller: 'link', action: 'index', id: link.id %>">Show More</a>
      </li>
    <% end %>
  </ul>
</div>