<section ng-controller="HomeController">
  <div id="searchBar">
    <md-text-float label="How can we help?" ng-model="searchTerm" ng-keyup="search(searchTerm)" autofocus></md-text-float>
<!--     <input id="mainSearch" type="text" ng-model="searchTerm" ng-change="search(searchTerm)"> -->
  <md-progress-circular class="loading-button"  md-diameter="25" md-mode="indeterminate"></md-progress-circular>
  </div>
  <md-content id="searchResults">
    <div layout="column" layout-fill>
      <md-whiteframe class="frames md-whiteframe-z1" layout="row" layout-align="space-between center" ng-repeat="link in links" ng-click="showLinkDetails(link.id)" ng-mouseenter="expand()" ng-mouseleave="shrink()" >
          <p><a href="{{link.url}}">{{link.title}}</a></p>
          <p>{{link.keyword_list}}</p>     
      </md-whiteframe>
    </div>
  </md-content>
</section>