<section id="bugContent">
<h2 class="pageHeading">Submit a bug/Request a feature</h2>
<form>
<label>Issue</label>
   <div class="radioPair">
		 <input name="issue" type="radio" value="Question">&nbsp;Bug
		 <input name="issue" type="radio" value="Question">&nbsp;Feature
   </div>
 <br/>
<label id="messageLabel">Message</label><textarea name="message" rows="10"></textarea>
 <br/><br/>
<label>E-mail/Slacker Username (optional)</label><input class="bugInput" type="text" name="user">
  <br/><br/>
<button id="bugButton">Submit</button>
</form>
</section>