/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require hammer
 * require angular
 * require angular-animate
 * require angular-aria
 *= require angular-material
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  cursor:pointer;
  outline:none;
}

/*end reset*/


header {
	width:100%;
	height:175px;
  text-align:center;
}

#headerText {
  margin-top:125px;
	text-align: center;
	float:left;
  width:100%;
} 

#headerText h1 {
  font-size:2em;
}

#headerText p {
  font-size:1em;
}

#pageContent {
  height:100%;
}

#mainContent {
	margin-top:25px;
  margin-bottom:60px;
  min-height:300px;
}

footer {
	clear: both;
	position: relative;
	z-index: 10;
	height:25px;
	margin-top: -30px;
	text-align:center;
}

footer ul {
	width:60%;
  float:left;
}

footer li {
	display: inline-block;
	text-align: center;
  width:15%;
}

footer img {
	width:10%;
  float:left;
  height:25px;
}

#slackLogo {
  margin-left:10%;  
}

.pageHeading {
  font-size:1.5em;
  text-align:center;
}

#searchBar {
  width:30%;
  margin:30px auto;
}

#mainSearch {
  border: 1px solid black;
}

#addLink {
  width:8%;
  margin-left:46%;
}

#addLinkForm {
  background-color:yellow;
  border:2px solid black;
  display:none;
  position:fixed;
  top:30%;
  left:35%;
  padding:10px;
}

#addLinkForm p {
  cursor:pointer;
  position:absolute;
  top:5px;
  right:10px;
  font-size:1.5em;
}

input {
  position:relative;
  margin-left:10%;
  width:280px;
}

#searchResults {
  width:50%;
  margin:0 auto;
}

.moreInfo {
  float:right;
}

form {
  margin-top:30px;  
}

#bugContent {
  width:60%;
  margin:30px auto;
}

.bugInput {
  border:1px black solid;
}

.radioPair input {
  width:20px;
}

#messageLabel {
  vertical-align:top;
}

#bugButton {
  margin:20px 30%;
  width:20%;
  background-color:white;
  border:1px black solid;
  border-radius:1em;
}

label {
 float:left;
  width:20%;
}

textarea {
  margin-left:10%;
  width:280px;
}

#linkContent {
  width:60%;
  margin:0 auto;
}

#linkInformation {
  height:100%;
}

#suggestEdit {
  cursor:pointer;
  margin-top:50px;
  text-align:center;
}

#suggestEdit:hover {
  color:blue;
}

#linkEdit {
  display:none;
}

.linkInput {
  border:1px black solid;
}

#linkEditSubmit {
  margin-left:30%;
  background-color:white;
  border:1px black solid;
  border-radius:1em;
}