<!DOCTYPE html>
<html>
<head>
  <title>SlackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<img src="../../assets/images/slack.png" alt="slack logo">
<div id="headerText">
<h1>Slacker News</h1>
<p>brought to you by Thinkful</p>
</div>
<img src="../../assets/images/TF_logo.svg" alt="thinkful logo">

<%= yield %>
<footer>
<a href="home">Home</a>
<a href="report a bug">Report a Bug</a>
<a href="www.thinkful.com">Thinkful</a>
</footer>
</body>
</html>
